// place your custom styles here
.navbar .nav-links,
.dropdown-wrapper .nav-link {
    font-size: 0.95rem;
}
.theme-hope-content .font-icon {
    position: relative;
    top: -2px;
}
.navbar .site-name {
    display: none;
}
.home-page .theme-hope-content {
    max-width: var(--home-page-width);
}
