// place your custom styles here
.vp-navbar .vp-nav-links,
.dropdown-wrapper .dropdown-subtitle,
.dropdown-wrapper .nav-link {
    font-size: 0.95rem;
}
.dropdown-wrapper .dropdown-subtitle {
    text-transform: none;
    color: var(--dark-grey);
}
.dropdown-subitem-wrapper {
    text-indent: 10px;
}
.vp-site-name,
.vp-hero-info-wrapper {
    display: none;
}
[data-theme="dark"] svg .clx {
    fill: hsl(0, 0%, 70%) !important;
}
.hint-container.details {
    margin: 0px;
}
